@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}
:root {
    --primary-color: #017681;
    --text-color: #333333;
    --background-color: #f4f4f4;
}

body, html{
    margin: 0;
    width: 100vw;
    height: 100vh;
    animation: brightnessAnimation 1.5s ease-in-out forwards;
}



@keyframes brightnessAnimation {
    from {
        filter: brightness(0); /* Dark */
    }
    to {
        filter: brightness(1); /* Full bright */
    }
}

*{
    font-family: Verdana, sans-serif;
}


h1{
    width: 80%;
    text-align: left;
}

h2:hover{
    cursor: pointer;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;

}
table {
    width: 80%;
    border-collapse: collapse;
    border: none;
    background-color:  #017681;
    border-radius: 15px; /* Stondatura dei bordi della tabella */
    overflow: hidden; /* Assicura che i contenuti non escano dai bordi stondati */
    border: dotted #4A7A8C 1px;
}
th,td {
    padding: 8px;
    text-align: center;
    width: auto;
    max-width: 280px;
    height: 50px;
    box-sizing: border-box; /* Aggiunto per includere padding e bordo nella larghezza */
    color: #2C2C2C;

}
th,td,tr{
    height: auto;

    font-size: 1.1rem;
    background-color: #F5F5F5;

}


tr{
    border-bottom: dotted #4A7A8C 1px;
    width: 100%;
}
th{
    color: white;
    text-align: center;
    background-color:  #017681;
    font-size: 1.3rem;

}
td{
    border-right: dotted #4A7A8C 1px;
    align-items: center;
    justify-content: center;
}
.hiddenRow {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.hiddenRow td {
    width: 150px; /* Mantieni la larghezza delle celle costante */
}
.hiddenRow input[type=text], .hiddenRow input[type=email] {
    width: 100%;
}


table input[type=text],input[type=email],input[type=password]{
    width: 70%;
    font-size: 0.9rem;
    border: none ;
    margin-bottom: -1px;
    border-radius: 10px;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    outline: none;
    box-sizing: border-box;
}


.updateButton input[type=submit],.deleteButton input[type=submit] {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2px;
}
.updateButton input[type=submit]{
    background-color: #4CAF50; /* Colore verde per il pulsante edit */


}


.deleteButton input[type=submit] {
    background-color: #f44336; /* Colore rosso per il pulsante delete */
}

