@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}
:root {
    --primary-color: #017681;
    --text-color: #333333;
    --background-color: #f4f4f4;
}

body, html{
    margin: 0;
    width: 100vw;
    height: 100vh;
}



*{
    font-family: Verdana, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    flex-direction: row;
}

#logoContainer{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#logo{
    width: 80px;
}
#logo2{
    width: 80px;
}

#spaceFiller{
    width: 60vw;
}

#buttonsContainer{
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.defaultButtons{
    border-radius: 10px;
    padding: 0.6vw;
    color: white;
    background-color: var(--primary-color);
    font-weight: lighter;
    font-size: 0.75rem;
    font-style: italic;
    transition: font-size 0.5s ease, padding 0.5s ease;
}

.defaultButtons:hover{
    padding: 0.8vw;
    font-size: 0.75rem;
    transition: font-size 0.5s ease, padding 0.5s ease;
    font-weight: bold;
    cursor: pointer;
}
svg path{
    transition: fill 0.2s linear;
    fill: var(--text-color);
}

svg .cls-1{
    transition: stroke 0.2s linear;
    stroke: var(--text-color);
}

svg:hover path{
    transition: fill 0.2s linear;
    fill: var(--primary-color);
    cursor: pointer;
}
svg:hover .cls-1{
    transition: stroke 0.2s linear;
    stroke: var(--primary-color);
    cursor: pointer;
}

svg:hover{
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.outfit {
    margin-bottom: 30px;
}

.outfit-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-color);
}
.outfit-description {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-color)
}

.capo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.capo-card {
    flex: 1 1 calc(25% - 20px);
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.capo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.capo-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.capo-card .capo-name {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 10px 0;
    color: var(--primary-color);
}

.capo-card .capo-category {
    font-size: 0.8rem;
    color: var(--text-color);
}